

header {
    margin: auto 0;
    padding: 20px;
    text-align: center;
}

#searchbar {
    padding: 10px 10rem;
    border-radius: 5px;
    border: solid lightgray 2px;
    text-align: left;

}

.gallery {
    margin-left: auto;
    margin-right: auto;
    max-width: 900px;
    height: 900px;
    
    display:grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr) ;
    grid-gap: 10px;
}

